
// background 背景
$bg: #F5F5F5;
// 按钮
$b-btn: #598DF9;
$r-btn: #FF6969;
$g-btn: #DFDFDF;
// text 文字
$b-1: #4C89FF;
$b-2: #4F82F3;
$o-1: #FEA651;

// tag 标签
$b-tag: #598DF9;
$g-tag: #56C28E;
$o-tag: #FFAF50;
$r-tag: #FF6969;
$g-tag: #A4A4A4;
