$option: #598DF9;
$delete: #FF6969;
$disable: #DFDFDF;
// text 文字
$text-blue: #4C89FF;
$text-orange:#FEA651;

// tag 标签
$tag-blue: #598DF9;
$tag-green: #56C28E;
$tag-orange: #FFAF50;
$tag-red: #FF6969;
$tag-bg: #A4A4A4;

// background 背景
$bg: #F5F5F5;